<%= simple_form_for(@vehicle) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :category %>
    <%= f.association :features, as: :check_boxes %>
    <%= f.input :price %>
    <%= f.input :exterior_color %>
    <%= f.input :interior_material %>
    <%= f.input :condition %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
